#js-group_set_index
.main
  .item
    %h1 シャッフルランチ
  .upper_pagination
    = paginate(@group_sets)
  .index_item
    - @group_sets.each do |group_set|
      = link_to group_set_path(group_set), class: "group_sets" do
        .groupset_item
          #{group_set.created_at.strftime('%Y年%m月%d日')}のグループ
        .groupset_item
          グループ数: #{group_set.groups.count}
  .lower_pagination
    = paginate(@group_sets)
  = javascript_include_tag 'packs/group_set_index.bundle'
