#js-group_set_show
.main
  .item
    - if @group_set.created_at.today?
      %h1 今日のグループ
    - else
      %h1 #{@group_set.created_at.strftime('%Y年%m月%d日')}のグループ
  .index_item
    - @groups.each_with_index do |group, i|
      = link_to group_set_group_path(@group_set, group, group_number: i+1), class: "groups" do
        .group_item
          .group_name
            %h2 Group#{i+1}
          .member_item
            - group.members.each do |member|
              %p= "#{member.full_name}"
        - if group.restaurant.present?
          .grouprestaurant
            .grouprestaurant_name
              = group.restaurant.name.truncate(17)
            .grouprestaurant_des
              - if group.restaurant.description.present?
                = group.restaurant.description.truncate(70)
              - else
                お店詳細が入力されていません
        - else
          .grouprestaurant_blank
            行ったお店を登録しよう！
    %br
    .link
      = link_to "一覧に戻る", group_sets_path
  = javascript_include_tag 'packs/group_set_show.bundle'
