#js-group_set_index
.main
  %h1 チーム分け一覧
  - if @group_sets.present?
    = paginate(@group_sets)
    %br
    - @group_sets.each do |group_set|
      = link_to group_set.created_at, admin_group_set_path(group_set)
      - if group_set.applied?
        適用済み
        = link_to("適用を取り消す", admin_group_set_applied_status_path(group_set, params: { cancel_update: true }), method: :patch)
      - else
        未適用
        = link_to("適用する", admin_group_set_applied_status_path(group_set), method: :patch)
        = link_to("削除する", admin_group_set_path(group_set), method: :delete)
      %br
  %br
  = link_to "チームを作成する", new_admin_group_set_path
  = javascript_include_tag 'packs/group_set_index.bundle'
