#js-admin_group_set_new
.admin_main
  %h1 新しくチームを分ける

  = form_tag admin_group_sets_path, method: :post do
    %h2 チーム数
    = number_field_tag "group_num", 1, min: 1
    %h2 参加予定者
    - @users.each do |user|
      = check_box_tag "user_ids[]", user.id, true
      = user.full_name
      %br
    = submit_tag "送信"
  %br
  = link_to "チーム分け一覧に戻る", admin_group_sets_path
  = javascript_include_tag 'packs/admin_group_set_new.bundle'
