#js-admin_group_set_show
.admin_main
  %h1 チーム分け
  - @groups.each_with_index do |group, i|
    %h2 Group#{i+1}
    = link_to "編集する", edit_admin_group_set_group_path(@group_set, group)
    = link_to "削除する", admin_group_set_group_path(@group_set, group), method: :delete
    %br
    - group.members.each do |member|
      = "#{member.full_name}"
      %br
  %br
  = link_to "チームを追加する", new_admin_group_set_group_path(@group_set)
  %br
  = link_to "一覧に戻る", admin_group_sets_path
  = javascript_include_tag 'packs/admin_group_set_show.bundle'
