%h1 グループ編集
= form_tag group_set_group_path(@group_set, @group), method: :patch do
  - @users.each do |user|
    = check_box_tag "user_ids[]", user.id, @group.members.include?(user) ? true : false
    = user.full_name
    %br
  = submit_tag "更新"
%br
= link_to "戻る", group_set_path(@group_set)
