#js-group_set_show
.main
  .item
    %h1 Group#{@group_number}(#{@group_set.created_at.strftime('%m月%d日')})
  = link_to "シャッフルランチ！", group_set_group_path(@group_set, @group, group_number: @group_number, group: { restaurant: @restaurants.random.first }), method: :put, class: "shuffle_link"
  .group_data
    .group_member
      - @group.members.each do |member|
        %p= "#{member.full_name}"
    - if @group.restaurant.present?
      .group_show_restaurant
        .group_restaurant_name
          %h2= @group.restaurant.name
        .group_restaurant_description
          - if @group.restaurant.description.present?
            %p= @group.restaurant.description
          - else
            %p お店詳細ページから詳しい説明を入力しよう！
        .group_restaurant_url
          お店URL :
          = link_to @group.restaurant.url, @group.restaurant.url, target: "_blank"
    - else
      .group_show_restaurant_blank
        行ったお店を登録しよう！
  %br
  .link_items
    .link
      = link_to "一覧に戻る", group_set_path(@group_set)
    .link
      = link_to "行ったお店を登録する", edit_group_set_group_path(@group_set, @group, group_number: @group_number)
  = javascript_include_tag 'packs/group_set_show.bundle'
