#js-restaurant_edit
.main
  .item
    %h1 お店情報を更新する
  .form_item
    = form_for @restaurant, url: restaurant_path, method: :patch do |f|
      = render partial: 'form', locals: {f: f}
      .input
        = f.submit "更新する", class: "submit_primary"
  %br
  .link_items
    = link_to "戻る", restaurant_path(@restaurant), class: "default_link"
= javascript_include_tag 'packs/restaurant_edit.bundle'
