#js-restaurant_index
.main
  .item
    %h1 みんなが行ったお店一覧
  .item
    = link_to "お店を追加する", new_restaurant_path, class: "info_link"
  .upper_pagination
    = paginate(@restaurants)
  .index_item
    - @restaurants.each do |restaurant|
      = link_to restaurant_path(restaurant), class: "restaurants" do
        .restaurant_name_and_time
          .index_restaurant_name
            = restaurant.name
          .index_restaurant_registeredtime
            = "登録日：#{restaurant.created_at.strftime('%Y年%m月%d日')}"
        - if restaurant.description.present?
          .index_restaurant_des
            %p= simple_format(restaurant.description.truncate(35))
        - else
          .index_restaurant_des_blank
            %p お店詳細を入力しよう！
  .lower_pagination
    = paginate(@restaurants)
  = javascript_include_tag 'packs/restaurant_index.bundle'
