#js-restaurant_index
.main
  %h1 みんなが行ったお店一覧
  .btn
    = link_to "お店を追加する", new_restaurant_path
  - @restaurants.each do |restaurant| 
    .restaurant_index
      = restaurant.name 
      = link_to "お店の詳細", restaurant_path(restaurant)
  = paginate(@restaurants)
  = javascript_include_tag 'packs/restaurant_index.bundle'
  
    
