#js-user_index
.main
  %h1 みんなが行ったお店一覧
  .btn
    = link_to "お店を追加する", new_restaurant_path
  - @restaurants.each do |restaurant| 
    .restaurant_index
      = restaurant.name 
      = link_to "お店の詳細", restaurant_path(restaurant)
      .restaurant_registered_time
        = "登録時間：#{restaurant.created_at.strftime('%Y年%m月%d日')}"
  = paginate(@restaurants)
  = javascript_include_tag 'packs/user_index.bundle'
  
    
