#js-restaurant_index
.main
  .item
    %h1 みんなが行ったお店一覧
  .link.item
    = link_to "お店を追加する", new_restaurant_path
  %br
  .search_restaurants
    = form_tag restaurants_path, method: :get do
      = text_field_tag :keyword
      = submit_tag '検索', name: :nil
  .index_item
    - @restaurants.each do |restaurant|
      = link_to restaurant_path(restaurant), class: "restaurants" do
        .restaurant_name_and_time
          .index_restaurant_name
            = restaurant.name
          .index_restaurant_registeredtime
            = "登録日：#{restaurant.created_at.strftime('%Y年%m月%d日')}"
        - if restaurant.description.present?
          .index_restaurant_des
            = simple_format(restaurant.description.truncate(27))
        - else
          .index_restaurant_des
            %p お店詳細が入力されていません
  .item
    = paginate(@restaurants)
  = javascript_include_tag 'packs/restaurant_index.bundle'
