#js-restaurant_new
.main
  %h1  お店を追加する
  .add_restaurant_form
  = form_for @restaurant, url: restaurants_path do |f|
    = hidden_field_tag :group_set_id, @group_set_id
    = hidden_field_tag :group_id, @group_id
    = hidden_field_tag :group_number, @group_number
    = render partial: 'form', locals: {f: f}
    =submit_tag "追加する", class: "btn_to_add_restaurant"
  %br
  =link_to "一覧に戻る", restaurants_path, class: "btn_back_to_index_page"
= javascript_include_tag 'packs/restaurant_new.bundle'
