#js-restaurant_show
.main
  .restaurant_name
    %h1= @restaurant.name
  .restaurant_url
    =link_to @restaurant.url, target: "_blank"
  - if @restaurant.description.present?
    .restaurant_des
      = @restaurant.description
  - else
    .restaurant_des_blank
      %p 詳しいお店詳細を入力しよう！
  .restaurant_note_text
    みんなの口コミ
  .restaurantnote_index
    - @restaurant_notes.each do |restaurant_note|
      .restaurant_note
        .restaurant_note_head
          .note_name= "投稿者：#{restaurant_note.writer_name}"
          .links
            .link_small= link_to "編集", edit_restaurant_restaurant_note_path(@restaurant, restaurant_note)
        .note_comment
          = restaurant_note.comment
        .note_time
          = restaurant_note.created_at
  - if @restaurant_notes.empty?
    .restaurant_notes_blank
      %p 口コミを投稿しよう！
  .item
    = paginate(@restaurant_notes)
  .restaurant_note_text
    口コミを投稿する
  .form_item
    = form_for @restaurant.restaurant_notes.build, url: restaurant_restaurant_notes_path(params[:id]) do |f|
      = f.text_field :writer_name, placeholder: '名前', value: nil, required: true, class: "form_note_name"
      = f.text_area :comment, placeholder: '口コミ', value: nil, required: true, class: "form_note_comment"
      .input
        %p= f.submit "口コミを投稿する", data: {confirm: "口コミは一度登録されると編集・削除ができません！本当にこの口コミを登録しますか？"}, class: "submit"
  %br
  .link_items
    .link= link_to "一覧に戻る", restaurants_path
    .links
      .link= link_to "編集する", edit_restaurant_path
      .link= link_to "削除する", restaurant_path, method: :delete, data: {confirm: "お店を削除すると今まで投稿された口コミも削除されます！本当に削除しますか？"}
  = javascript_include_tag 'packs/restaurant_show.bundle'
